
<div id="about">


<p>Calling all photographers, restaurant-goers, and food-lovers in the Bay Area!</p>

<p>
Our team has been busy putting together a platform to help eateries better promote themselves to you.  We want to enable you to explore local eateries and dishes. To help us, please participate in the photo contests that we will be hosting over the next few weeks!  Top entries will receive one of our three dining prizes. Please sign up at <%= link_to 'weSpot contest', root_url %>. 
</p>

<p>Also, like our <a href="http://www.facebook.com/weSpot">Facebook</a> page and we will keep you updated on our progress!</p>

<p>Thanks!
</p>
<p>
-weSpot
</p>
</div>