
<div style="display:block;
	background-color: rgba(255,255,255,.95);
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  position:relative;
  width: 70%;
  margin: 0% 15% 0 15%;
  padding: 25px 40px;
  color:black;">


<p>Dear Family and Friends,</p>

<p>
Our team has been busy putting together a platform that we believe can help eateries better present themselves to you, the foodie.  We want to help you more effectively find dishes and/or eateries to explore nearby. To help us, please participate in the photo contests that we will be hosting over the next few weeks!  Please see <%= link_to 'weSpot contest', root_url %>. 
</p>

<p>Also, like our <a href="http://www.facebook.com/weSpot">Facebook</a> page and we will keep you updated on our progress!</p>

<p>Thanks!
</p>
<p>
-weSpot
</p>