
<div id="about">


<p>Dear Family and Friends,</p>

<p>
Our team has been busy putting together a platform to help eateries better promote themselves to you.  We want to enable you to explore local eateries and dishes. To help us, please participate in the photo contests that we will be hosting over the next few weeks!  Please sign up at <%= link_to 'weSpot contest', root_url %>. 
</p>

<p>Also, like our <a href="http://www.facebook.com/weSpot">Facebook</a> page and we will keep you updated on our progress!</p>

<p>Thanks!
</p>
<p>
-weSpot
</p>
</div>