
<div style="display:block;
	background-color: rgba(255,255,255,.95);
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  position:relative;
  width: 70%;
  margin: 0% 15% 0 15%;
  padding: 25px 40px;
  color:black;">


<strong>Who's hosting the contest?</strong>
<li>weSpot, an online platform for helping local eateries better promote themselves.</li>

<strong>Why should I participate in this contest?</strong>
<li>Participants who've submitted a photo set will be eligible to win prizes such as a dinner for two at the two-star Michelin rated restaurants Coi or Benu. And you'll be one of weSpot's early contributers.</li>

<strong>What are the prizes?</strong>
<li>weSpot, an online platform for helping local eateries better promote themselves.</li>

<strong>How are winners chosen?</strong>
<li>weSpot, an online platform for helping local eateries better promote themselves.</li>

</div>