
<body style =" 
background:transparent url('http://www.toddswanderings.com/wp-content/uploads/2010/11/Izakaya.jpg') no-repeat fixed center center;
-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color:white;"
>


<div id="phototips">
	<h2>Photo Guidelines</h2>
<ul><li>Take your camera and create a set of 3 to 5 photos at highest resolution possible that best represent the restaurant!</li></ul>


<center>
	<%= link_to (image_tag "morimoto1edit.jpg", :style => "width: 170px;"), (asset_path "morimoto1edit.jpg"), :rel => "lightbox"  %>
	<%= link_to (image_tag "morimoto2edit.jpg", :style => "width: 170px;"), (asset_path "morimoto2edit.jpg"), :rel => "lightbox"  %>
	<%= link_to (image_tag "morimoto3edit.jpg", :style => "width: 170px;"), (asset_path "morimoto3edit.jpg"), :rel => "lightbox"  %>
	<%= link_to (image_tag "morimoto4edit.jpg", :style => "width: 170px;"), (asset_path "morimoto4edit.jpg"), :rel => "lightbox"  %>
	<%# link_to (image_tag "morimoto5edit.jpg", :style => "width: 170px;"), (asset_path "morimoto5edit.jpg"), :rel => "lightbox"  %>
</center>

<br>
<div>
<ul>
	<li>Take at least one photo from each of these categories: 
			<ul>
			<li>Ambience - Look and feel that evokes the eatery's unique atmosphere or mood. Examples include exterior and interior photos of the location. </li>
			<li>Food - Pictures of dishes or small bites that define the eatery. </li>
			<li>Creative - Open to photographer's creativity.</li>
			</ul>
	</li>
	<li>3 photos of each set submitted will be required to be in landscape.</li>
	<li>It is recommended to shoot with a high-resolution camera. Please submit both originals and edited photos.</li>
</ul>

Once you are done, please submit your photos to <strong>contest@wespot.co</strong> by November 26, 2012 at 11:59PM PDT.
<br/><br/>

<h4>Photo Credits</h4>
<ul>
<li>Qualifying Photo Submissions cannot include any watermarks or any other digital signatures other than what is noted as a "Qualifying Signature" below.</li>
<li>For all photos submitted, the weSpot team will attach a "Qualifying Signature" crediting the photographer on the bottom left corner of each photo.  The "Qualifying Signature" will be defined as the following phrase: "Photography by [insert name]"</li>
</ul>

<p><a href='http://www.wespot.co' class="btn btn-warning" type="button">Back to Signup</button></a></p>
</div>
</div>