<div style="display:block;
	background-color: rgba(255,255,255,.95);
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  position:relative;
  width: 70%;
  margin: 0% 15% 0 15%;
  padding: 5px 40px;
  color:black;">

<h2>Contest Rules</h2>

<h3>General Rules:</h3>
<ul>
<li>The deadline for all sign-ups and submissions is November 26, 2012 at 11:59PM PDT.</li>
<li>Photo sets will be uploaded for voting starting on November 19, 2012 so the sooner you submit, the sooner you can start collecting votes.  The deadline for all voting will be December 10, 2012 at 11:59PM PDT.</li>
<li>Please submit all entries to contest@wespot.co. Emails must include first and last name, name of local eatery, and attached photos. For the subject title, please include only the name of the local eatery.</li>
</ul>

<h3>Photo Submissions:</h3>
<ul>
<li>Each "Qualifying Photo Submission" for an eatery includes a set of 3 and up to 5 photos that meet the "Photo Criteria" below.  To increase your chances, contributors can sign-up and submit entries for multiple restaurants.  All contributors are required to sign-up for the eatery they are submitting at weSpot.co. Entries for each eatery will be limited to the first five sign-ups, so we encourage you to sign up if you are planning to go on this photo adventure prior to the submission deadline.  All submissions without a submission of an official sign-up form at weSpot.co will not qualify.</li>
<li>"Photo Criteria:" For each set of 3 to 5 photos submitted, our hope is that you the artist can help tell the story of the establishment through imagery, whether it is the food, or the people, or the history.  We have provided some minimum requirements to help guide you along.  It is highly recommended to have a photo for each of the following three categories: 1) Ambience (Inside and/or Outside of restaurant), 2) Food, and 3) Creative (open to photographer's creativity).</li>
<li>Photos submitted can be edited, but ALL qualifying entries are required to include the raw files, if available, of the photos taken as well. The actual photo you submit for the competition will be the processed photo, if available.  To help us out, please label it as processed.</li>
<li>Photographs must be originals by the contributor. You may not submit someone else's work.</li>
<li>To increase your chances of winning, we recommend you to use a high-resolution camera and not a camera phone. 3 of the submitted photos must be landscape (i.e. widescreen). Imagine it as your desktop background.</li>
</ul>

<h3>Voting:</h3>
<ul>
<li>All submitted photo sets by our voting starting date (see General Rules) will be posted to our site all together.  Photo sets rolling in subsequently prior to the submission deadline will be added in the order they come in.</li>
<li>Each submission will have a Facebook like button.  As all voting will be done through a Facebook like, tell your friends to come vote!  The deadline for voting will end December 10, 2012 at 11:59PM PDT. The top 3 voted photo sets will qualify for a prize (see Prizes), with the winner decided by the weSPOT team.  The winner will be announced 72 hours after the voting deadline.</li>
</ul>

<h3>Prizes:</h3>
<ul>
<li>1) Grand Prize: Dinner for 2 at Coi or Benu in San Francisco, CA*</li>
<li>2) Dinner for two at The House in San Francisco, CA**</li>
<li>3) Dinner for two at Kappou Gomi in San Francisco, CA***</li>
</ul>

<p class="muted"><br>* The dinner is a prix fixe meal for two at one of the two restaurants: Coi or Benu. The winner can decide which location he/she wants.  The prize only qualifies if there are "Qualifying Photo Submissions" for a minimum of 100 different local eateries. Contributors are aware that the winner will be responsible for making his/her own reservations with the restaurant. Winner is solely responsible for all taxes and/or fees as well as all additional costs that may be incurred.
<br>** The prize is a dinner of up to $80.00.  Winner is responsible for any additional costs that may be incurred.
<br>*** The prize is a dinner of up to $40.00.  Winner is responsible for any additional costs that may be incurred.
<br><br></p>

<%= link_to 'Sign up now!', root_url %>
<br/><br/>