<div style="display:block;
	background-color: rgba(255,255,255,.95);
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  position:relative;
  width: 70%;
  margin: 0% 15% 0 15%;
  padding: 25px 40px;
  color:black;">

  <p>You have successfully signed up for the weSpot SF Photo contest.</p>
<p>An email has been sent to you with your details.</p>

</div>