<div style="display:block;
	background-color: rgba(255,255,255,.95);
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  position:relative;
  width: 70%;
  margin: 0% 15% 0 15%;
  padding: 5px 40px;
  color:black;">
  <h2>Terms and Conditions:</h2>

<h3>General Rules:</h3>
<ul>
<li>You agree that you are aware of the contest deadlines for sign-ups and submissions, as noted in the contest description.</li>
<li>You agree that you are aware of the day the voting will begin and end for the photo sets submitted for the contest, as noted in the contest description.</li>
<li>Entrants must submit all entries before the deadline to contest@wespot.co. Emails must include first and last name, name of local eatery, and attached photos. For the subject title, please include only the name of the local eatery.</li>
<li>Entries received after the deadline noted above are ineligible, null, and void.</li>
<li>weSpot will not be responsible for and will not consider incomplete or incorrect entries. weSpot is not responsible for entries that are sent but not received by weSpot for any reason.</li>
</ul>

<h3>Photo Submissions:</h3>
<ul>
<li>Each "Qualifying Photo Submission" for an eatery is a set of high quality photos that meet the criteria set by the contest guidelines.  All entrants are required to sign-up for the eatery they are submitting for on our registration form noted on the contest rules. Entrants are aware that there are limited entries per eatery.  All submissions without an official sign-up through our event page will not qualify.</li>
<li>Photos submitted can be edited, but ALL qualifying entries are required to include the raw files of the photos taken as well.</li>
<li>Photographs must be in the highest quality possible.</li>
<li>For content that is covered by intellectual property rights, like photos (IP content), you specifically give us the following permission: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you submit on or in connection with weSpot (IP License).  All photos, and any other content or information (collectively and severally, "Materials") submitted by you to weSpot shall become the sole and exclusive property of weSpot, and weSpot shall have no obligation to preserve, return, or otherwise make available to you or others any Materials. weSpot may use, reproduce, edit, display, transmit, prepare derivative works of, modify, publish, and otherwise make use of Materials in any and all media, whether now known or hereinafter created - throughout the world and for any purpose - without compensation to you of any kind.</li>
<li>Photographs must be originals by the contributor. You may not submit someone else's work. By submitting Materials to weSPOT, you represent and warrant that the Materials do not infringe any copyright, trademark, property rights, rights of privacy or publicity of any person, or any other right of any third party and that you have the full and unrestricted right to transfer the Materials to weSpot free and clear of any claims or encumbrances. You acknowledge and agree that weSpot shall have no obligation to post, display, or otherwise make publicly available any Materials submitted by you.</li>
</ul>

<h3>Voting:</h3>
<ul>
<li>All submitted photo sets by our launch date (see General Rules) will be posted to our site all together.  Photo sets rolling in subsequently prior to the submission deadline will be added in the order they come in.</li>
<li>Each submission will have a "vote" or Facebook like button. Entrants are aware that all voting will be done through Facebook like and/or weSpot's vote system.</li>
<li>You agree that you are aware of the voting deadline date and time as noted in the contest description.</li>
<li>You are aware that that the winner of the "Top Qualifying Photo Sets" will be decided by the weSpot panel, if applicable. See contest description for further details.</li>
<li>"Top Qualifying Photo Sets" is defined as any the total number of photo sets determined to qualify as described in the contest description.</li>
<li>You agree that you are aware that the contest winner will be announced within 72 hours after the contest voting deadlines.</li>
<li>You acknowledge and agree that Materials submitted by you may be made available by weSpot for viewing, rating, reviewing, and commenting by the public. You acknowledge that comments or ratings that you disagree with or are unhappy about may be published or otherwise become associated with Materials that you submit to weSpot. By submitting Materials to weSpot, you waive any privacy expectations that you may have with respect to the Materials.</li>
</ul>

<h3>Prizes:</h3>
<ul>
<li>Entrants are aware that the prizes are contingent on the number of total number of "Qualifying Photo Submissions" as noted in the contest.  Entrants are aware that the winner will be responsible for making his/her own reservations with the restaurant.</li>
<li>"Dinner for Two" covers a maximum dinner tab, as disclosed in contest, for a party of two. Winners may not request substitutions of prize winnings. All winners are solely responsible for any and all taxes and/or fees as well as all additional costs that may be incurred.</li>
<li>All winners will be notified by the form/method of contact they provided when they entered the contest.  If the winner does not respond to the notification within (a) 10 business days, another winner will be chosen.  Failure to respond within the time frames listed shall mean that the provisional winner forfeits the prize.</li>
</ul>

<h3>Other Guidelines:</h3>
<ul>
<li>You agree to hold weSpot and its officers, directors, employees, agents, and assigns harmless from and against and hereby waive any right to pursue any claims of any nature arising in connection with weSpot's use of the Materials submitted to weSpot and used in any manner in weSpot's sole and absolute discretion.</li>
<li>Contests involving evaluations of Materials submitted as part of the contest will be judged entirely in the sole and absolute discretion of weSpot. Decisions by weSpot are final.</li>
<li>Neither weSpot nor its officers, directors, employees, agents, successors, or assigns shall be liable for any warranty, costs, damage, injury, or any other claims incurred as a result of the usage of a prize by any winner including but in no way limited to each and every aspect of the taking of a trip or tour as part of a contest prize. weSpot is not liable for any loss arising out of or in connection with any contest promoted by weSpot.</li>
<li>If the specified prize becomes unavailable for any reason, weSpot in its sole and absolute discretion may substitute a prize of like or equal value.</li>
<li>weSpot reserves the right in its sole and absolute discretion to terminate any contest at any time without prior notice.</li>
<li>weSpot reserves the right in its sole and absolute discretion to alter any contest rules at any time.</li>
<li>No purchase or payment of any consideration is necessary to enter the contest.</li>
<li>weSpot reserves the right to condition the award of prizes upon the execution by the winner(s) of a publicity release. Notwithstanding this reserved right, entry is conclusively deemed to be permission by the entrant to use the entrant's name (without compensation to the entrant) if the entrant is a winner to publicize the contest and otherwise, as determined by weSpot, unless prohibited by law.</li>
<li>weSpot reserves the right to require the winner to execute an affidavit of eligibility as a sworn document and provide other proof of eligibility as a condition of receipt of the prize or award.</li>
</ul>

<h3>Final Guidelines:</h3>
<ul>
<li>By entering this contest, you conclusively are deemed to have agreed to be bound by these contest rules and terms and conditions as well as by any rules specific to such contest. This is an irrevocable condition of entry.</li>
</ul>
<br><br><br><br>

</div>