<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>
      Thanks for participating in the weSpot SF Photo Contest!
    </p>
    <p>
      You have signed up to take photos for <%= @contestant.restaurant %>. Please submit your photos by Nov. 25 to be eligible for prizes.</p>
    
    <p>A reminder email will be sent on where and how to vote, once voting begins on Nov. 25</p>
    <p>To check rules: <%= link_to 'rules', rules_path %></p>
    <p>To check photo guidelines: <%= link_to 'rules', phototips_path %></p>
  </body>
</html>